{# Light + dark logo images. Set ``logo_class`` for extra classes and/or
   ``logo_style`` for an inline style (e.g. a configurable height). Expects ``b``. #}
{% if b and b.has_logo %}
{% set _cls = logo_class if logo_class is defined else 'shrink-0' %}
{% set _style = logo_style if logo_style is defined else '' %}
<span class="inline-flex shrink-0 leading-none">
    <img src="{{ b.logo_url_light }}" alt=""
         class="block {{ _cls }} dark:hidden"{% if _style %} style="{{ _style }}"{% endif %}>
    <img src="{{ b.logo_url_dark }}" alt=""
         class="hidden dark:block {{ _cls }}"{% if _style %} style="{{ _style }}"{% endif %}>
</span>
{% endif %}
