"""Views for ``{{model}}``."""

from pyvelm.builders import Field, FormView, ListView, ViewsData

views_data = (
    ViewsData.make()
    .views(
        ListView.make("{{stem}}.list")
        .model("{{model}}")
        .title("{{title}}")
        .columns(
            [
{{list_fields}}
            ]
        )
        .form_view("{{stem}}.form"),
        FormView.make("{{stem}}.form")
        .model("{{model}}")
{{form_sections}}
    )
)
